.footer {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  &-top {
    margin-inline: auto;

    padding-inline: 2rem;

    width: 100%;
    max-width: 71.25rem;

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    row-gap: 2rem;
    column-gap: 1.875rem;

    color: var(--pointed-rock);

    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      grid-column: 1 / -1;

      font-size: 1.5rem;
      line-height: normal;
      letter-spacing: normal;
    }

    &__col {
      .title {
        margin-bottom: 0.3125rem;

        font-size: 1.125rem;
        line-height: normal;
        letter-spacing: normal;
      }

      li {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: normal;
      }
    }
  }

  &-bottom {
    padding-top: 1.9375rem;
    padding-bottom: 1rem;

    background-color: var(--kettleman);
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    &__links,
    &__iskur {
      margin-inline: auto;

      width: 100%;
      max-width: 71.25rem;
    }

    &__links {
      padding-inline: 2rem;

      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 1rem;
      align-items: center;
      justify-content: space-between;

      font-size: 0.875rem;
      letter-spacing: normal;
      line-height: normal;
      color: var(--white);

      .trademark {
        white-space: nowrap;
      }

      &-contracts,
      &-contact {
        a[href] {
          display: inline-block;

          width: 100%;
          height: 100%;
        }
      }

      &-group {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 0.625rem;
        align-items: center;
        justify-content: flex-start;
      }

      &-contact {
        display: flex;
        column-gap: 0.625rem;
      }
    }

    &__iskur {
      padding-inline: 2rem;

      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      &-description {
        max-width: 28.125rem;
        width: 100%;

        font-size: 0.5rem;
        line-height: 0.875rem;
        letter-spacing: normal;
        color: var(--white);
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .footer {
    &-top {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &-top {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &-top {
      row-gap: 1.25rem;

      grid-template-columns: repeat(4, 1fr);
    }
  }
}
