@layer sections.hero {
  .heroWrapper {
    background-image: var(--bg-image-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    aspect-ratio: 144 / 47;

    width: 100%;
    height: 100%;
    max-height: 29.375rem;
  }

  .hero {
    padding-bottom: 1.375rem;
    padding-top: 1.875rem;
    padding-inline: 2rem;

    margin-inline: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 71.25rem;
  }

  .heroHeader {
    margin-bottom: 5.25rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.25rem;
  }

  .heroAuthButton {
    display: block;
    border: 0.0625rem solid var(--white);
    border-radius: 624.9375rem;
    padding-inline: 1.125rem;
    padding-block: 0.5rem;
    transition: all ease-in-out 250ms;
  }

  .heroAuthButton:hover {
    background-color: var(--white);
    color: black;
    transition: all ease-in-out 250ms;
  }

  .heroLogoLink {
    width: 100%;
  }

  .heroLogo {
    margin-inline: auto;

    display: block;

    vertical-align: middle;
    text-align: center;

    aspect-ratio: 353 / 48;

    width: 100%;
    max-width: 44.125rem;
    height: fit-content;
  }

  .heroText {
    margin-top: 1.25rem;

    aspect-ratio: 46 / 5;

    width: 50%;
    max-width: 28.75rem;
    height: fit-content;
  }

  .heroSearchForm {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    width: 100%;
  }

  .heroSearchButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.625rem;
  }

  .heroSearchInputLabel {
    position: relative;

    margin-inline: auto;

    max-width: 34.625rem;
    width: 100%;
  }

  .heroSearchInputIcon {
    position: absolute;

    top: 50%;
    left: 1.25rem;

    transform: translateY(-50%);

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
  }

  .heroSearchInput {
    border: none;
    border-radius: 624.9375rem;

    padding-inline-start: 4rem;
    padding-inline-end: 1.25rem;
    padding-block: 1rem;

    width: 100%;
    height: 3.5rem;

    background-color: var(--white);

    font-size: 1.125rem;
    letter-spacing: normal;
    color: var(--pebble-beach);
  }

  .heroSearchButton {
    border: none;
    border-radius: 624.9375rem;

    padding-inline: 3.125rem;
    padding-top: 1rem;
    padding-bottom: 0.9375rem;

    width: 100%;
    max-width: 34.625rem;

    cursor: pointer;

    background-color: var(--white);
    color: var(--secret-of-mana);
  }

  .heroSearchBottomText {
    font-size: 14px;
    line-height: normal;
    text-decoration: underline;
    text-transform: capitalize;
    color: var(--white);
  }

  @media screen and (min-width: 768px) {
    .heroSearchForm {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      column-gap: 0.9375rem;

      max-width: 45.625rem;
    }

    .heroSearchButton {
      width: max-content;
    }
  }
}
