@layer sections.action-cards {
  .action-card {
    position: relative;
    display: block;

    border-radius: 0.25rem;

    &__picture {
      width: 100%;

      display: block;

      aspect-ratio: 111 / 65;
    }

    &__image {
      display: block;

      width: 100%;
      height: auto;

      aspect-ratio: 111 / 65;
    }

    &__action-list {
      position: absolute;
      bottom: 0;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--black-30);

      &-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        text-align: center;
        font-size: clamp(0.5rem, 0.2799rem + 1.7606vw, 1.125rem);
        line-height: 1.5;
        font-weight: 400;
        color: var(--white);

        transition: all ease-in-out 200ms;

        &:not(.action-card__action-list-item--seperator):hover {
          text-decoration: underline;
          font-weight: 900;
          letter-spacing: 0.03125rem;

          transition: all ease-in-out 200ms;

          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        .link {
          padding: 1rem;

          display: block;

          width: 100%;
          height: 100%;
        }

        &--seperator {
          padding-inline: 1rem;

          width: fit-content;
          height: 1.5rem;

          font-size: 1.5rem;
          line-height: 1;
          font-weight: 400;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .action-card {
      &__action-list {
        &-item {
          font-size: 0.875rem;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .action-card {
      &__action-list {
        &-item {
          font-size: 1.125rem;
        }
      }
    }
  }
}
