:root {
  --white: rgb(255, 255, 255); // #FFFFFF
  --pebble-beach: rgb(128, 130, 133); // #808285
  --secret-of-mana: rgb(73, 96, 229); // #4960e5
  --pointed-rock: rgb(102, 103, 104); // #666768
  --cursed-black: rgb(18, 18, 18); // #121212
  --silver: rgb(191, 191, 191); // #BFBFBF
  --off-black: rgb(48, 48, 48); // #303030
  --snowbank: rgb(233, 233, 233); // #E9E9E9
  --lavender-mauve: rgb(107, 121, 152); // #6B7998
  --grape-creme: rgb(191, 188, 185); // #BFBCB9
  --cerebral-grey: rgb(204, 204, 204); // #CCCCCC
}
