/**
  * Remove anchor underline and initial color
  */
a {
  text-decoration: none;
  color: inherit;
}

/**
  * Remove outline when focus is visible.
  */
:focus-visible {
  outline: none;
}

/**
 * Calculate spacing with border, margin and padding.
 */
* {
  box-sizing: border-box;
}
