@layer colors {
  :root {
    --color-opacity: 1;
    --white: rgba(255 255 255 / var(--color-opacity));
    --pebble-beach: rgba(128 130 133 / var(--color-opacity));
    --secret-of-mana: rgba(73 96 229 / var(--color-opacity));
  }
}
